@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lobster&family=Raleway:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lobster&family=Raleway:wght@500;800&display=swap');

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.s-card {
    background: #E7F9FD;
    border-radius: 60px;
    min-height: 442px;
    margin-top: 160px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    background-image: url('../../images/bg4.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;


}

.inbox-left {
    position: absolute;
    bottom: 0;
}

.inbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.inbox-main {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 24px;
}

.inbox-submain {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    max-width: 620px;
    margin: 0 auto;
}

.email {
    margin-top: 64px;
    background-color: white;
    min-width: 480px;
    padding: 31px 32px;
    border-radius: 24px;
    position: relative;
    z-index: 5;

}

.inner-btn {
    margin-left: 144px;
    background-color: black;
    color: white;
    padding: 21px 47px;
    border-radius: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.email-add {
    border: none;
}

@media (max-width:767.98px) {
    .inbox-left {
        display: none;
    }

    .email {
        min-width: 300px;
        margin-top: 20px;
    }

    .inner-btn {
        top: 90px;
        right: 45px;
    }

    .inbox-main {
        font-size: 40px;
        text-align: center;
    }

    .inbox-submain {
        max-width: 350px;
        font-size: 14px;
    }
}
@media(max-width:576px){
    .inbox-content{
        padding-top: 20px;
    }
}