.container {
    max-width: 1280px;
    margin: 0 auto;

}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.main-head {
    margin-top: 162px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
}

.sub-title {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
    border-radius: 16px;
    padding: 21px 27px;
    margin-bottom: 20px;
}

.sub-title:first-child {
    background-color: #E7FAFE;
}

.category-img {
    display: flex;
    justify-content: space-between;
}

.c-img {
    max-width: 100px;
    margin-bottom: 30px;

}
.btn{
    margin-top: 162px;
}

.breakfast {
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;
}

.vegan {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;
}

.meat {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;
}

.desert {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;

}

.lunch {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;
}

.chocolate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    border-radius: 30px;
    width: 180px;
    text-align: center;
}

@media (max-width:767.98px){
    .category-img{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .meal{
        flex: 0 0 30%;
    }
}