.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding-bottom: 48px;

}

.footer-main {
    margin-top: 160px;

}



.f-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-link {
    list-style: none;
    margin-left: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
}

.footer-end {
    display: flex;
}

.last-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.end-left {
    margin: 0 auto;
}

.end {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);

}

.footer-icon {
    margin-left: 40px;
}
@media (max-width:767.97px){
    .footer{
        flex-direction: column;
    }
    .footer-link:first-child{
        margin-left: 0;
    }
    .footer-left{
        text-align: center;
        margin-bottom: 20px;
 
     }
    
}
@media (max-width:576.97px)
{
    .footer-end{
        flex-direction: column;
    }
    .footer-link{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .footer-left{
       text-align: center;
       margin-bottom: 20px;

    }
    .f-text{
        max-width: 300px;
        font-size: 12px;
        line-height: 22px;
    }

    .last-footer{

        flex-direction: column;
        justify-content: center;
    }
    .end-left{
        margin-bottom: 20px;
    }

    .footer-icon:first-child{
        margin-left: 0;
    }
}